<ion-content [fullscreen]="true">
  <div class="home-container">
    <div class="home-header-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <app-header></app-header>
          </div>
        </div>
      </div>
      
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <app-user-profile
              [userName]="user.userName"
              [userLevel]="user.userLevel"
              [userLevelColor]="user.userLevelColor"
              [userImage]="user.userImage"
              (buttonClick)="onActionButtonClick($event)"
            ></app-user-profile>
          </div>
        </div>
      </div>
    </div>

    <div class="home-content">
      <div class="home-section">
        <app-section-title 
          [title]="'PERSONAL ONLINE'" 
          [showAddButton]="true"
          (addClick)="onAddCardButtonClick()"
        ></app-section-title>
        <div class="home-section__cards">
          <app-card
            *ngFor="let card of personalCards"
            [image]="card.image"
            [buttonText]="card.buttonText || ''"
            [buttonIcon]="card.buttonIcon || ''"
            [title]="card.title || ''"
            [isAddCard]="card.isAddCard || false"
            [focus]="false"
            (buttonClick)="onAddCardButtonClick()"
            (cardClick)="onCardClick(card)"
          ></app-card>
        </div>
      </div>

      <div class="home-section">
        <app-section-title 
          [title]="'PROGRAMAS'" 
          [badgeText]="'NOVO'"
        ></app-section-title>
        <div class="home-section__cards">
          <app-card
            *ngFor="let card of programCards"
            [image]="card.image"
            [overlayText]="card.overlayText || ''"
            [title]="card.title || ''"
            [focus]="true"
            (cardClick)="onCardClick(card)"
          ></app-card>
        </div>
      </div>

      <div class="home-section home-section--disabled">
        <app-section-title 
          [title]="'CONTEÚDOS'" 
          [disabled]="true"
        ></app-section-title>
        <div class="home-section__cards">
          <app-card
            *ngFor="let card of contentCards; let i = index"
            [image]="card.image"
            [isContentCard]="true"
            [isAddCard]="i === 0"
            [focus]="false"
            (cardClick)="onCardClick(card)"
          ></app-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>
