.home-container {
  width: 100%;
  min-height: 100%;
  background-color: #090909;
}

.home-header-section {
  background-color: #202020;
  border-radius: 0 0 50px 60px;
  padding-bottom: 10px;
  overflow: hidden;
}